.ibox-content.product-box {
  position: relative;
}
.ibox-content.product-box .glyphicon.glyphicon-pencil {
  position: absolute;
  right: 10px;
  text-align: right;
  top: 10px;
}

.group.wrapper .groupContainer {
  margin: 10px 0;
}
.group.wrapper .createGroupBtn {
  float: right;
}
.group.wrapper .createGroupForm {
  margin-bottom: 10px;
}
.group.wrapper .checkIcon {
  float: right;
}

.groupAddUsers .addContactsTxtContainer {
  padding: 10px;
}
.groupAddUsers .addContactsTxtContainer .fa.fa-sort-down {
  float: right;
}
.groupAddUsers .list-group {
  margin-top: 10px;
}
.groupAddUsers .list-group li {
  cursor: pointer;
}
.groupAddUsers .list-group li .checkIcon {
  float: right;
}
