
<div class="container-fluid" >
    
  <div class="row">
        
  <section id="transactionTable">
           
    <div class="row-fluid homeBreadCumb">
      <span class="breadcrumbTitle">  Transaction Details</span>
      <ol class="breadcrumb">

        <!--<li class="active"><a href="#">Layouts</a></li>-->
      </ol>
    </div>       

    <table class="table dataTables-example  table-striped table-bordered table-hover">
    
    <thead>
      <tr>
        <th class="emailData" ng-click="sortBy('email')">Email
            <span class="arrowDown fs10px" ng-show="propertyName == 'email'  && reverse == false">&#9660;</span>
            <span class="arrowUp fs10px" ng-show="(propertyName == 'email'   && reverse == true) || propertyName !== 'email' ">&#9650;</span>
          </th>
         <th ng-click="sortBy('insertStatus')">Insert Status
            <span class="arrowDown fs10px" ng-show="propertyName == 'insertStatus' && reverse == false" >&#9660;</span>
            <span class="arrowUp fs10px" ng-show="(propertyName == 'insertStatus'  && reverse == true) || propertyName !== 'insertStatus' ">&#9650;</span>
          </th>
          <th ng-click="sortBy('operationPerform')">Operation Perform
            <span class="arrowDown fs10px" ng-show="propertyName == 'operationPerform' && reverse == false" >&#9660;</span>
            <span class="arrowUp fs10px" ng-show="(propertyName == 'operationPerform'  && reverse == true) || propertyName !== 'operationPerform' ">&#9650;</span>
          </th>
          <th ng-click="sortBy('reason')">U_Reason
            <span class="arrowDown fs10px" ng-show="propertyName == 'reason' && reverse == false" >&#9660;</span>
            <span class="arrowUp fs10px" ng-show="(propertyName == 'reason'  && reverse == true) || propertyName !== 'reason' ">&#9650;</span>
          </th>
          <th ng-click="sortBy('compReason')">C_Reason
            <span class="arrowDown fs10px" ng-show="propertyName == 'compReason' && reverse == false" >&#9660;</span>
            <span class="arrowUp fs10px" ng-show="(propertyName == 'compReason'  && reverse == true) || propertyName !== 'compReason' ">&#9650;</span>
          </th>
           
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="trd in transactionDetails |  orderBy:propertyName:reverse ">
    
        <td>{{trd.email}}</td>

        <td>{{trd.insertStatus}}</td>

        <td>{{trd.operationPerform}}</td>

        <td>{{trd.reason}}</td>
        
        <td >{{trd.compReason}}</td>
        
      </tr>

            
    </tbody>
  </table>
                      
  </section>

</div>
</div>


<style>
#transactionTable {
    padding: 20px 30px;

    background-color: white;
}
#transactionTable .homeBreadCumb {
    margin-bottom: 20px;
}

#transactionTable .homeBreadCumb .breadcrumbTitle {
    font-size: 20px;
}

#transactionTable .homeBreadCumb ol li.active {
    font-weight: bold;
}

#transactionTable table {
    table-layout: fixed;
}

.emailData{
  width: 30%;
}

#transactionTable table > thead > tr {
    cursor: pointer;

    color: #fff;
    border-color: #a7b1c2;
    background-color: #a7b1c2;
}

#transactionTable table > thead > tr th {
    white-space: nowrap;

    background-color: #2f4050;
}

#transactionTable table > thead > tr th span {
    float: right;
}

#transactionTable table > tbody > tr td {
    border: 1px solid #e7e7e7;
    border-bottom: 1px solid #ddd;
}

</style>