/* line 3, C:/wamp/www/angularphp/part7/css/style.scss */
header nav .smallFont {
  font-size: 12px; }
  /* line 5, C:/wamp/www/angularphp/part7/css/style.scss */
  header nav .smallFont .badge {
    margin-left: 5px;
    background-color: #ed1c24; }

/* line 10, C:/wamp/www/angularphp/part7/css/style.scss */
header nav a {
  cursor: pointer; }

/* line 15, C:/wamp/www/angularphp/part7/css/style.scss */
.star {
  font-size: x-large;
  display: inline;
  color: gray; }

/* line 20, C:/wamp/www/angularphp/part7/css/style.scss */
.star:last-child {
  margin-right: 0; }

/* line 23, C:/wamp/www/angularphp/part7/css/style.scss */
.star:before {
  content: '\2605'; }

/* line 26, C:/wamp/www/angularphp/part7/css/style.scss */
.star.on {
  color: gold; }

/* line 29, C:/wamp/www/angularphp/part7/css/style.scss */
.star.half:after {
  content: '\2605';
  color: gold;
  position: absolute;
  margin-left: -20px;
  width: 10px;
  overflow: hidden; }

/* line 38, C:/wamp/www/angularphp/part7/css/style.scss */
.userImg > .userAvatar {
  display: inline-block; }

/* line 41, C:/wamp/www/angularphp/part7/css/style.scss */
.userImg > .userAvatar > img {
  width: 25px;
  border-radius: 10px;
  margin-right: 10px; }

/* line 46, C:/wamp/www/angularphp/part7/css/style.scss */
.searchAndSortingSection {
  font-weight: bold; }
  /* line 48, C:/wamp/www/angularphp/part7/css/style.scss */
  .searchAndSortingSection .SearchBox {
    margin: 0 20%;
    border: 1px solid green;
    display: flex;
    padding: 5px 0;
    border-radius: 5px;
    padding-left: 5px; }
    /* line 56, C:/wamp/www/angularphp/part7/css/style.scss */
    .searchAndSortingSection .SearchBox .tagItems {
      flex: 0;
      white-space: nowrap;
      margin-right: 2px;
      display: flex;
      align-items: center; }
      /* line 63, C:/wamp/www/angularphp/part7/css/style.scss */
      .searchAndSortingSection .SearchBox .tagItems .removeTagIcon {
        margin-left: 8px;
        cursor: pointer; }
        /* line 67, C:/wamp/www/angularphp/part7/css/style.scss */
        .searchAndSortingSection .SearchBox .tagItems .removeTagIcon:after {
          content: "x";
          padding: 0px 2px; }
    /* line 74, C:/wamp/www/angularphp/part7/css/style.scss */
    .searchAndSortingSection .SearchBox .searchWrapper {
      flex: 1;
      display: inline-block;
      position: relative; }
      /* line 79, C:/wamp/www/angularphp/part7/css/style.scss */
      .searchAndSortingSection .SearchBox .searchWrapper .searchBoxInput {
        border: 0;
        outline: none; }
      /* line 84, C:/wamp/www/angularphp/part7/css/style.scss */
      .searchAndSortingSection .SearchBox .searchWrapper .closeAutoComplete {
        right: 0;
        display: inline-block; }
      /* line 89, C:/wamp/www/angularphp/part7/css/style.scss */
      .searchAndSortingSection .SearchBox .searchWrapper .autoCompleteContainer {
        position: absolute;
        border: 1px solid black;
        border-top: 0;
        top: 28px;
        right: 0;
        left: -5px;
        background-color: white; }
        /* line 98, C:/wamp/www/angularphp/part7/css/style.scss */
        .searchAndSortingSection .SearchBox .searchWrapper .autoCompleteContainer .autoCompeleteItem {
          padding: 5px 15px;
          font-size: 14px;
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: 100;
          cursor: pointer; }
          /* line 104, C:/wamp/www/angularphp/part7/css/style.scss */
          .searchAndSortingSection .SearchBox .searchWrapper .autoCompleteContainer .autoCompeleteItem:hover {
            background-color: #F1F1F1; }
  /* line 113, C:/wamp/www/angularphp/part7/css/style.scss */
  .searchAndSortingSection .searchByCategories {
    cursor: pointer; }
  /* line 116, C:/wamp/www/angularphp/part7/css/style.scss */
  .searchAndSortingSection .searchEmployessTxtBox {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px; }
  /* line 125, C:/wamp/www/angularphp/part7/css/style.scss */
  .searchAndSortingSection .arrowDown, .searchAndSortingSection .arrowUp {
    font-size: 10px;
    vertical-align: baseline; }

/* line 131, C:/wamp/www/angularphp/part7/css/style.scss */
#peopleTable {
  margin-top: 40px; }
  /* line 134, C:/wamp/www/angularphp/part7/css/style.scss */
  #peopleTable table > thead > tr {
    background-color: #F7F7F7;
    border-top: 2px solid #ddd;
    cursor: pointer; }
    /* line 139, C:/wamp/www/angularphp/part7/css/style.scss */
    #peopleTable table > thead > tr th {
      white-space: nowrap; }
  /* line 144, C:/wamp/www/angularphp/part7/css/style.scss */
  #peopleTable table > tbody > tr td {
    border: 1px solid #ddd; }

/*# sourceMappingURL=style.css.map */