header nav .smallFont {
  font-size: 12px;
}
header nav .smallFont .badge {
  margin-left: 5px;
  background-color: #ed1c24;
}
header nav a {
  cursor: pointer;
}

.star {
  font-size: x-large;
  display: inline;
  color: gray;
}

.star:last-child {
  margin-right: 0;
}

.star:before {
  content: '\2605';
}

.star.on {
  color: gold;
}

.star.half:after {
  content: '\2605';
  color: gold;
  position: absolute;
  margin-left: -20px;
  width: 10px;
  overflow: hidden;
}

.userImg > .userAvatar {
  display: inline-block;
}

.userImg > .userAvatar > img {
  width: 25px;
  border-radius: 10px;
  margin-right: 10px;
}

.searchAndSortingSection {
  font-weight: bold;
}
.searchAndSortingSection .SearchBox {
  margin: 10px;
  display: flex;
  padding: 5px 0;
  border-radius: 5px;
  padding-left: 5px;
}
.searchAndSortingSection .SearchBox .tagItems {
  flex: 0;
  white-space: nowrap;
  margin-right: 2px;
  display: flex;
  align-items: center;
}
.searchAndSortingSection .SearchBox .tagItems .removeTagIcon {
  margin-left: 8px;
  cursor: pointer;
}
.searchAndSortingSection .SearchBox .tagItems .removeTagIcon:after {
  content: "x";
  padding: 0px 2px;
}
.searchAndSortingSection .SearchBox .searchWrapper {
  flex: 1;
  display: inline-block;
  position: relative;
}
.searchAndSortingSection .SearchBox .searchWrapper .searchBoxInput {
  border: medium none;
  font-size: 14px;
  margin: 0;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  font-size: 14px;
  background-color: inherit;
}
.searchAndSortingSection .SearchBox .searchWrapper .searchBoxInput {
  border: 0;
  outline: none;
}
.searchAndSortingSection .SearchBox .searchWrapper .closeAutoComplete {
  right: 0;
  display: inline-block;
}
.searchAndSortingSection .SearchBox .searchWrapper .autoCompleteContainer {
  position: absolute;
  border: 1px solid black;
  border-top: 0;
  top: 28px;
  right: 0;
  left: -5px;
  background-color: white;
}
.searchAndSortingSection .SearchBox .searchWrapper .autoCompleteContainer .autoCompeleteItem {
  padding: 5px 15px;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  cursor: pointer;
}
.searchAndSortingSection .SearchBox .searchWrapper .autoCompleteContainer .autoCompeleteItem:hover {
  background-color: #F1F1F1;
}
.searchAndSortingSection .searchByCategories {
  cursor: pointer;
}
.searchAndSortingSection .searchEmployessTxtBox {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.searchAndSortingSection .arrowDown, .searchAndSortingSection .arrowUp {
  font-size: 10px;
  vertical-align: baseline;
}

#peopleTable {
  margin-top: 40px;
}
#peopleTable table > thead > tr {
  background-color: #F7F7F7;
  border-top: 2px solid #ddd;
  cursor: pointer;
}
#peopleTable table > thead > tr th {
  white-space: nowrap;
}
#peopleTable table > tbody > tr td {
  border: 1px solid #ddd;
}
